<div class="center jumbotron">
  <h1>eBooker</h1>

  <h2> eBookの投稿&販売を行うサンプルアプリ </h2>

</div>
  <h3>共通</h3>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "eBook検索", '#', class: "btn btn-lg btn-primary" %>
  <h3>クリエイター</h3>
  <%= link_to "マイページ", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "eBook投稿", '#', class: "btn btn-lg btn-primary" %>
  <h3>カスタマー</h3>
  <%= link_to "マイページ", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "カート", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "ライセンス", '#', class: "btn btn-lg btn-primary" %>


<%#= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
